@import "../dist/styles";

.apps-detail{
  position: absolute;
  z-index: 3;
  left:15%;
  top:0;
  width: 70%;
  height: 100%;
  background:linear-gradient($primary-color, $main-background);
  display: grid;
  grid-template-rows: 1fr 2fr 3fr;
  align-items: start;
  justify-content: center;
  justify-items: center;
}

.logo-container {
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-end;
  align-self: end;
  text-align: center;
  width: 80%;
  background-color: transparent;
}

#app-name {
  align-self: center;
  padding-top: $spacing;
  font-size: 3em;
  font-family: $display-font;
  background-color: transparent;
  height: fit-content;
  @media (max-width: 450px){
    height: 2em;
  }
}

.app-video-container {
  grid-row: 2/3;
  z-index: 2;
  height: 18em;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-content: center;
  @media (max-width: 450px){
    height: 9em;
  }
}

.app-video-container > video {
  height: 100%;
  align-self: center;
}

#close-detail{
  width: 3em;
  height: 3em;
  background-color: transparent;
  position: absolute;
  top:0;
  left:0;
  margin:1em;
  z-index: 5;
  @media (max-width: 450px){
    margin:0;
    width:2em;
    height: 2em;
  }
}

.article-container {
  grid-row: 3/4;
  padding: $spacing;
  display: grid;
  grid-template-rows: 1fr 2fr;
  align-content: center;
  justify-content: center;
  justify-items: center;
  align-items: start;
  align-self: center;
  background-color: transparent;
  width: 80%;
}

.article-items {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: center;
  align-self: start;
  background-color: transparent;
  height: fit-content;
}

.article-container > .article-items:nth-child(1) {
  grid-row: 1/2;
}

.article-container > .article-items:last-child {
  grid-row: 2/3;
}

.article-header {
  padding: $spacing;
  font-size: 1.5em;
  align-self: center;
  background-color: transparent;
  @media (max-width: 800px) {
    font-size: 1em;
  }
}

.article-content {
  align-self: center;
  background-color: transparent;
  height: fit-content;
  @media (max-width: 800px) {
    font-size: .7em;
  }
}