@import "../dist/styles";

.aib-container {
  height: 100%;
  overflow: hidden;
}

.apps-container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  background-color: $main-background;
  justify-items: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.app-item {
  align-self: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2em;
  white-space: nowrap;
  overflow: visible;
  background-color: transparent;
}
.apps-name {
  z-index: 2;
  background-color: transparent;
  font-size: 5em;
  height: fit-content;
  align-self: center;
  justify-self: center;
  font-family: $display-font;
  position: absolute;
  @media (max-height: 500px), (max-width: 450px) {
    font-size: 2em;
  }
}
.rect-img {
  height: 85%;
  background-color: transparent;
  overflow: visible;
  @media (max-height: 500px), (max-width: 450px) {
    height: 60%;
  }
}
.rect {
  background-color: transparent;
  position: absolute;
  overflow: visible;
}

.icon {
  background-size: cover;
  width: 3em;
  height: 3em;
  background-repeat: no-repeat;
  background-color: transparent;
  z-index: 2;
  fill: $font-color;
  @media (max-height: 500px), (max-width: 400px) {
    width: 2em;
    height: 2em;
  }
}

.gh-logo {
  background-image: url("../dist/asset/github-logo.svg");
}
.gh-logo:hover {
  cursor: url("../dist/asset/view-gh.svg"), default;
}

.icon:hover {
  transform: scale(1.2);
}

//namaslay
#namaslay-gh {
  align-self: flex-start;
  @include no-margin;
  @media (max-width: 450px) {
    align-self: flex-start;
   }
}
#namaslay-container {
  grid-area: 1/1/2/2;
  @include no-margin;
}
#namaslay {
  align-self: center;
}

.namaslay-color {
  color: $brown;
}

#n-rect {
  align-self: center;
}

//crisp
#crisp-container {
  grid-area: 2/1/3/2;
  margin-right: 50%;
  @include no-margin;
}
#crisp {
  align-self: center;
  @include no-margin;
}

.crisp-color {
  color: $pink;
}

#crisp-gh {
  align-self: flex-start;
  @include no-margin;
}
#c-rect {
  @include no-margin;
}

//plantsitter
.plantsitter-color {
  color: $green;
}

#plantsitter-container {
  margin-left: 50%;
  grid-area: 3/1/4/2;
  margin-bottom: 10%;
  @include no-margin;
}
#plantsitter {
  align-self: center;
  @include no-margin;
}
#plantsitter-gh {
  align-self: flex-start;
  @include no-margin;
  @media (max-width: 450px) {
    align-self: flex-start;
   }
}
#pl-rect {
  @include no-margin;
}

//products
#products-container {
  grid-area: 4/1/5/2;
  align-self: center;
  @include no-margin;
}
#products {
  @media (max-width: 450px) {
    font-size: 1.7em;
   }
}
.products-color {
  color: $purple;
}

#products-gh {
  align-self: flex-start;
 @include no-margin;
}

#pr-rect {
  @include no-margin;
}

#apps-nuri-kim {
  right: 0;
  bottom: 0;
  z-index: 3;
  margin-bottom: -20em;
  margin-right: -2em;
  @media (max-width: 450px) {
    margin-right: -2.5em;
    margin-bottom: -17em;
  }
}

#software-application {
  color: $accent-color;
  left: 0;
  top: 0;
  margin: 1em;
  margin-top: 13em;
  @include page-titles-rotation;
  @media (max-width: 450px) {
    margin: .5em;
    margin-top: 13em;
  }
}
