@import "../dist/styles";

.aib-container {
  overflow: hidden;
  display: grid;
  grid-template-rows: 3em 1fr 1fr 1fr 1fr;
}

.titles > .title-containers {
  grid-row: 1/2;
}
.title-containers {
  z-index: 2;
  display: flex;
  align-self: flex-start;
  justify-content: space-between;
  white-space: nowrap;
  background-color: transparent;
  position: absolute;
}

.apps-title {
  display: flex;
  align-items: flex-start;
  margin-right: 9em;
  margin-top: 2em;
  font-size: 1em;
  font-family: $cursive-font;
  align-self: center;
  background-color: transparent;
}

// .aib-container > .apps-panel {
//   grid-row: 2 / span 4;
//   background-color: lavender;
// }

.apps-list div:first-child {
  grid-row: 2/3;
}
.apps-list div:nth-child(2) {
  grid-row: 3/4;
}
.apps-list div:nth-child(3) {
  grid-row: 4/5;
}
.apps-list div:last-child {
  grid-row: 5/6;
}
// .scroll-down {
//   background-color: transparent;
//   // position: absolute;
//   height: 5em;
// }
// .namaslay {
//   background-color: violet;
// }

// .crisp {
//   background-color: wheat;
// }

// .plantsitter {
//   background-color: yellowgreen;
// }

// .products {
//   background-color: yellow;
// }
