@import "../dist/styles";

.nav-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 9em 1fr 1fr 1fr;
  align-items: center;
  overflow: hidden;
  align-self: center;
  background-color: $primary-color;
  width: 100%;
}

.left-half {
  width: 50%;
  background-color: $main-background;
  position: fixed;
  left: 0;
  top: 0;
}

.menu {
  height: 3em;
  width: 3em;
  grid-row: 1;
  grid-column: 1;
  align-self: start;
  margin: 1em;
  z-index: 1;
  background-color: transparent;
}

#explore {
  grid-area: 1/1/3/3;
  height: 60%;
  margin: 1em;
  margin-left: 2em;
  align-self: start;
  justify-self: start;
  z-index: 3;
  background-color: transparent;
}

.clickable:hover {
  transform: scale(1.2);
  cursor: url("../dist/asset/view2.svg"), default;
}

.nuri-kim {
  color: $font-color;
  margin: 1em;
  @include page-titles-rotation;
  @media (max-width: 450px) {
    margin: .5em;
  }
}

#home-nuri-kim {
  z-index: 1;
  grid-area: 4/ 1 / 5 / 2;
  margin-bottom: -5em;
  color: $font-color;
  @media (max-width: 450px) {
    margin-bottom: -7em;
  }
}

#about {
  grid-area: 1/2/5/5;
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-self: center;
  align-self: center;
  background-color: transparent;
  padding: 10%;
  padding-left: 30%;
  // height: 100%;
  width:100%;
  z-index: 2;
}

#about-bottom {
  grid-row: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-content: start;
  background-color: transparent;
}

#about-me {
  grid-column: 1/3;
  margin:.5em;
  z-index: 2;
  height:fit-content;
  background-color: transparent;
  align-self: start;
  text-align: end;
  color: $font-color;
  font-size: 2em;
  // white-space: nowrap;
  // overflow: visible;
  @media (max-height: 500px), (max-width: 450px) {
    font-size: 1em;
  }
}

.about-large {
  background-color: transparent;
  font-family: $display-font;
  font-size: 1.2em;
  @media (max-height: 500px), (max-width: 450px) {
    font-size: 1em;
  }
}

#about-software {
  color:$brown;
}

#about-fashion {
  color:$green;
}

#about-connect {
  color: $pink;
}

#about-rect {
  position: absolute;
  grid-column: 2;
  background-color: transparent;
  height: 18em;
  align-self: start;
  justify-self:end;
  @media (max-height: 500px), (max-width: 450px) {
    height: 10em;
  }
}

.nuri-video {
  grid-row: 1;
  height: 15em;

  margin:2em;
  z-index: 1;
  background-color: transparent;
  opacity: 0.7;
  align-self: end;
  justify-self: center;
  @media (max-height: 500px), (max-width: 450px) {
    height: 8em;
  }
}

#home-contact {
  grid-column: 1/3;
  justify-self: center;
}

.plus {
  transform: rotate(40deg);
}

.plus:hover {
  transform: rotate(40deg) scale(1.2);
}

.e-cls-1 {
  font-size: 80.58px;
  fill: $accent-color;
  font-family: Amerika;
}
.e-cls-2,
.e-cls-3,
.e-cls-4 {
  fill: none;
  stroke-miterlimit: 10;
  isolation: isolate;
}
.e-cls-2 {
  stroke: $primary-color;
}
.e-cls-3 {
  stroke: $pink;
}
.e-cls-4 {
  stroke: $accent-color;
}

.scroll-down {
  position: absolute;
  grid-area: 4/1/5/5;
  align-self: flex-end;
  justify-self: center;
  z-index: 2;
  height: 3em;
  display: flex;
  margin-bottom: 2em;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
.down-arrow {
  align-self: center;
  height: 1.5em;
  background-color: transparent;
}
.scroll {
  color: $font-color;
  height: fit-content;
  background-color: transparent;
  font-size: 1em;
}
