@import "../dist/styles";

.home-bg-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: $primary-color;
  width: 100%;
}

#home-background {
  position: absolute;
  align-self: center;
}

#eye-closed {
  opacity: 0;
}

#heart-filled {
  opacity: 0;
}

.cls-1 {
  fill: #f9d7cd;
}
.cls-2 {
  fill: #f8f6f3;
}
.cls-3 {
  fill: #fff;
}
.cls-11,
.cls-4 {
  fill: #565656;
}
.cls-5,
.cls-9 {
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 0;
}
.cls-5 {
  stroke: #565656;
}
.cls-6 {
  opacity: 0.35;
}
.cls-7 {
  isolation: isolate;
}
.cls-8 {
  fill: #e2361b;
}
.cls-9 {
  stroke: #e2361b;
}
.cls-10 {
  fill: #f6685d;
}
