@import "../dist/styles";
.hello-container {
  background-image: url("../dist/asset/intro-background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  // height: 100%;
  width: 100%;
}
.hello {
  font-family: $cursive-font;
}
.hello-container > span {
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  font-size: 3em;
  @media (min-width: 600px) {
    font-size: 5em;
  }
}
.space {
  padding-left: $spacing;
}
.smiley {
  height: 4em;
  padding-left: $spacing;
  fill: $accent-color;
  background-color: transparent;
  @media (min-width: 600px) {
    height: 6em;
  }
}
